body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Arial Narrow', Arial, sans-serif;
  gap: 1%;
  background-color: #f7df1e;
}

a{
  list-style: none;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1{
  font-size: 45px;
}

h2{
  font-size: 35px;
}

p{
  font-size: 20px;
}

ul{
  list-style: none;
  padding: 0px;
}

li{
  font-size: 20px;
  padding-bottom: 10px;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
}
input{
  padding: 15px 30px;
  font-size: 18px;
}

#lista{
  ul {
    margin-top: 15px;
    padding-left: 0px;
  }
  
  li {
    background: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-left: 15px;
    font-size: 18px;
    gap: 15px;
    margin-left: 0px;
  }
}

#timer{
  font-size: 45px;
}
textarea{
  width: 400px;
  font-size: 18px;
}