body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-left: 200px;
  padding-right: 200px;
  font-family: 'Arial Narrow', Arial, sans-serif;
  gap: 2%;
  background-color: #f7df1e;
}

a{
  list-style: none;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1{
  font-size: 45px;
}

h2{
  font-size: 35px;
}

p{
  font-size: 20px;
}

ul{
  list-style: none;
}

li{
  font-size: 20px;
  padding-bottom: 10px;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
}